// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

// Layers
// 0 Default
// 1 Navigation
// 2 Symbols
// 3 Function keys and numpad
// 4 System control

// Customer keycodes
#define HYP LS(LC(LA(LGUI)))
#define HYPER(key) LS(LC(LA(LG(key))))
#define EX_PWR_ON &ext_power EP_ON
#define EX_PWR_OFF &ext_power EP_OFF
#define EX_PWR_TG &ext_power EP_TOG

/ {
    behaviors {
        hrm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            global-quick-tap;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
        mok: mo_layer_key {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_LAYER_KEY";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>;
        };
        td0: tap_dance_capsword {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_CAPSWORD";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&caps_word>, <&kp CAPS>;
        };
    };

    macros {
        nxt_sent: nxt_sent {
            label = "ZM_NXT_SENT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp DOT &kp SPACE>
                , <&macro_tap &sk LSHFT>
                ;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <2 7>;
            bindings = <&kp ESC>;
            layers = <0>;
        };
        combo_underscore {
            timeout-ms = <50>;
            key-positions = <23 26>;
            bindings = <&kp UNDER>;
            layers = <0>;
        };
        combo_minus {
            timeout-ms = <50>;
            key-positions = <3 6>;
            bindings = <&kp MINUS>;
            layers = <0>;
        };
        combo_nxt_sentence {
            timeout-ms = <50>;
            key-positions = <24 25>;
            bindings = <&nxt_sent>;
            layers = <0>;
        };
        combo_left_parent {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LPAR>;
            layers = <0>;
        };
        combo_right_parent {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp RPAR>;
            layers = <0>;
        };
        combo_left_bracket {
            timeout-ms = <50>;
            key-positions = <2 3>;
            bindings = <&kp LBKT>;
            layers = <0>;
        };
        combo_right_bracket {
            timeout-ms = <50>;
            key-positions = <6 7>;
            bindings = <&kp RBKT>;
            layers = <0>;
        };
        combo_left_brace {
            timeout-ms = <50>;
            key-positions = <22 23>;
            bindings = <&kp LBRC>;
            layers = <0>;
        };
        combo_right_brace {
            timeout-ms = <50>;
            key-positions = <26 27>;
            bindings = <&kp RBRC>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default {
            bindings = <
        //╭0─────────────┬1─────────────┬2─────────────┬3─────────────┬4─────────────╮   ╭5─────────────┬6─────────────┬7─────────────┬8─────────────┬9─────────────╮
           &kp Q          &kp W          &kp F          &kp P          &kp B              &kp J          &kp L          &kp U          &kp Y          &kp SEMI
        //├10────────────┼11────────────┼12────────────┼13────────────┼14────────────┤   ├15────────────┼16────────────┼17────────────┼18────────────┼19────────────┤
           &hrm LGUI A    &hrm LALT R    &hrm LCTRL S   &hrm LSHIFT T  &hrm HYP G         &hrm HYP M     &hrm LSHIFT N  &hrm LCTRL E   &hrm LALT I    &hrm LGUI O
        //├20────────────┼21────────────┼22────────────┼23────────────┼24────────────┤   ├25────────────┼26────────────┼27────────────┼28────────────┼29────────────┤
           &kp Z          &kp X          &kp C          &kp D          &kp V              &kp K          &kp H          &kp COMMA      &kp DOT        &kp FSLH
        //╰──────────────┴──────────────┴──────────────┼30────────────┼31────────────┤   ├32────────────┼33────────────┼──────────────┴──────────────┴──────────────╯
                                                        &mok 1 BSPC    &mok 3 TAB         &mok 4 ENTER   &mok 2 SPACE
        //                                             ╰──────────────┴──────────────╯   ╰──────────────┴──────────────╯
            >;
        };

        navigation {
            bindings = <
        //╭0─────────────┬1─────────────┬2─────────────┬3─────────────┬4─────────────╮   ╭5─────────────┬6─────────────┬7─────────────┬8─────────────┬9─────────────╮
           &none          &none          &kp LC(PG_UP)  &kp LC(PG_DN)  &none              &kp PAGE_UP    &kp HOME       &kp UP         &kp END        &kp ESC
        //├10────────────┼11────────────┼12────────────┼13────────────┼14────────────┤   ├15────────────┼16────────────┼17────────────┼18────────────┼19────────────┤
           &kp LGUI       &kp LALT       &kp LCTRL      &kp LSHIFT     &kp HYP            &kp PAGE_DOWN  &kp LEFT       &kp DOWN       &kp RIGHT      &kp DEL
        //├20────────────┼21────────────┼22────────────┼23────────────┼24────────────┤   ├25────────────┼26────────────┼27────────────┼28────────────┼29────────────┤
           &none          &none          &none          &none          &none              &kp LC(Z)      &kp LC(C)      &kp LC(V)      &kp LC(X)      &kp LC(Y)
        //╰──────────────┴──────────────┴──────────────┼30────────────┼31────────────┤   ├32────────────┼33────────────┼──────────────┴──────────────┴──────────────╯
                                                        &trans         &none              &kp ENTER      &td0
        //                                             ╰──────────────┴──────────────╯   ╰──────────────┴──────────────╯
            >;
        };

        symbols {
            bindings = <
        //╭0─────────────┬1─────────────┬2─────────────┬3─────────────┬4─────────────╮   ╭5─────────────┬6─────────────┬7─────────────┬8─────────────┬9─────────────╮
           &kp GRAVE      &kp FSLH       &kp ASTRK      &kp AMPS       &kp MINUS          &none          &kp LBKT       &kp RBKT       &none          &none
        //├10────────────┼11────────────┼12────────────┼13────────────┼14────────────┤   ├15────────────┼16────────────┼17────────────┼18────────────┼19────────────┤
           &kp APOS       &kp CARET      &kp PERCENT    &kp DLLR       &kp EQUAL          &kp HYP        &kp LSHFT      &kp LCTRL      &kp LALT       &kp LGUI
        //├20────────────┼21────────────┼22────────────┼23────────────┼24────────────┤   ├25────────────┼26────────────┼27────────────┼28────────────┼29────────────┤
           &kp TILDE      &kp HASH       &kp AT         &kp EXCL       &kp BSLH           &none          &kp LBRC       &kp RBRC       &none          &none
        //╰──────────────┴──────────────┴──────────────┼30────────────┼31────────────┤   ├32────────────┼33────────────┼──────────────┴──────────────┴──────────────╯
                                                        &kp LPAR       &kp RPAR           &none          &trans
        //                                             ╰──────────────┴──────────────╯   ╰──────────────┴──────────────╯
            >;
        };

        fn_numpad {
            bindings = <
        //╭0─────────────┬1─────────────┬2─────────────┬3─────────────┬4─────────────╮   ╭5─────────────┬6─────────────┬7─────────────┬8─────────────┬9─────────────╮
           &none          &kp F9         &kp F8         &kp F7         &kp F12            &kp PLUS       &kp N7         &kp N8         &kp N9         &kp ASTRK
        //├10────────────┼11────────────┼12────────────┼13────────────┼14────────────┤   ├15────────────┼16────────────┼17────────────┼18────────────┼19────────────┤
           &kp ESC        &kp F6         &kp F5         &kp F4         &kp F11            &kp MINUS      &kp N4         &kp N5         &kp N6         &kp FSLH
        //├20────────────┼21────────────┼22────────────┼23────────────┼24────────────┤   ├25────────────┼26────────────┼27────────────┼28────────────┼29────────────┤
           &none          &kp F3         &kp F2         &kp F1         &kp F10            &kp N0         &kp N1         &kp N2         &kp N3         &sk LALT
        //╰──────────────┴──────────────┴──────────────┼30────────────┼31────────────┤   ├32────────────┼33────────────┼──────────────┴──────────────┴──────────────╯
                                                        &none          &trans             &kp ENTER      &kp DOT
        //                                             ╰──────────────┴──────────────╯   ╰──────────────┴──────────────╯
            >;
        };

        system {
            bindings = <
        //╭0─────────────┬1─────────────┬2─────────────┬3─────────────┬4─────────────╮   ╭5─────────────┬6─────────────┬7─────────────┬8─────────────┬9─────────────╮
           &sys_reset     &none          &out OUT_USB   &out OUT_BLE   &out OUT_TOG       &sk LCTRL      &kp C_PREV     &kp C_PLAY     &kp C_NEXT     &sys_reset
        //├10────────────┼11────────────┼12────────────┼13────────────┼14────────────┤   ├15────────────┼16────────────┼17────────────┼18────────────┼19────────────┤
           &bootloader    &none          &bt BT_PRV     &bt BT_NXT     &bt BT_CLR         &sk LSHFT      &kp C_VOL_DN   &kp C_MUTE     &kp C_VOL_UP   &bootloader
        //├20────────────┼21────────────┼22────────────┼23────────────┼24────────────┤   ├25────────────┼26────────────┼27────────────┼28────────────┼29────────────┤
           &bt BT_SEL 4   &bt BT_SEL 3   &bt BT_SEL 2   &bt BT_SEL 1   &bt BT_SEL 0       &sk LALT       EX_PWR_ON      EX_PWR_OFF     EX_PWR_TG      &none
        //╰──────────────┴──────────────┴──────────────┼30────────────┼31────────────┤   ├32────────────┼33────────────┼──────────────┴──────────────┴──────────────╯
                                                        &kp PSCRN      &kp LG(ESC)        &trans         &none
        //                                             ╰──────────────┴──────────────╯   ╰──────────────┴──────────────╯
            >;
        };
    };
};
